<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dish.mapper.Bill_DishMapper">

    <select id="getAllBill_Dish" resultType="com.example.dish.entity.Bill_Dish">
        select * from bills_dishes
    </select>

    <select id="getBill_DishById" resultType="com.example.dish.entity.Bill_Dish">
        select * from bills_dishes where billId = #{billId} and dishId = #{dishId}
    </select>

    <select id="getDishesByBillId" parameterType="java.lang.Long" resultType="com.example.dish.entity.Bill_Dish">
        select * from bills_dishes where billId = #{billId}
    </select>

    <insert id="addBill_Dish" parameterType="com.example.dish.entity.Bill_Dish">
        insert into bills_dishes ( billId, dishId,num ) values ( #{billId}, #{dishId},#{num})
    </insert>

    <delete id="deleteBill_Dish" parameterType="com.example.dish.entity.Bill_Dish">
        delete from bills_dishes where billId = #{billId} and dishId = #{dishId}
    </delete>

    <delete id="deleteBill_DishByBillId" parameterType="java.lang.Long">
        delete from bills_dishes where billId = #{billId}
    </delete>

</mapper>